{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
        <h1><a href="{% url 'home' %}">QuickJobs</a></h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock navbar %}


   <div>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">QuickJobs</a></h1>
      </div>
      {% block content %} {% endblock content %}
    </div>